<div class="text-center">
    {% if isDiscount %}
        <h2>{{name}}</h2>
        <p>
            {% include 'partials/barcode.twig' %}    
        </p>
        
        <h3>Discount {{percent}}%</h3>
    
        <a class="btn btn-primary btn-lg btn-block" href="/cashdesk">Apply discount</a>
        <br />
        <div style="font-size: 24pt">
        <span style="color: #333"><strong>&euro;73.7</strong> this month</span><br />
        <span style="color: #666"><strong>&euro;870.57</strong> last 6 months</span>
        </div>
            {% else %}
        <h2>Waiting for customer...</h2>
    {% endif %}
</div>
