<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}{% endblock %} - Hive</title>
    
        <link rel="shortcut icon" href="/favicon.ico" />
    
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400'  type='text/css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"  type='text/css' />

        <link rel="stylesheet" href="public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="public/css/style.css"/>
        
        <script type="text/javascript" src="public/js/jquery-1.10.2.min.js"></script>

    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><i class="fa fa-forumbee"></i>&nbsp;Hive</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main" aria-expanded="true">
                    <ul class="nav navbar-nav">
                        <li><a href="/my">My profile</a></li>
                        <li><a href="/cashdesk">Cashier desk</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-xs-12">
                {% block content %}
                {% endblock %}    
            </div>
        </div>
        <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    </body>
</html>