{% extends "layout/base.twig" %}

{% block title %}
My profile
{% endblock %}

{% block content %}
<p></p>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">My profile</li>
</ol>

<p></p>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Wishlist</div>
            <div class="panel-body">
                <ul class="nobull">
                    {% for v in products.results %}
                    <li><input type="checkbox" id="id{{ v.product.id }}" />&nbsp;<label for="id1">{{ v.name.en }}</label></li>
                    {% endfor %}
                    <li><input type="checkbox" id="id2" />&nbsp;<label for="id2">Flying Dutchman</label></li>
                </ul>
                <br />
                <p class="text-center btn-block">
                    <a href="/add" class="btn btn-default btn-sm">Add new</a>
                    <a href="/remove" class="btn btn-danger btn-sm">Remove</a>
                </p>
            </div>
        </div>
    </div>
    
    
    
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Things from wishlist bought by somebody</div>
            <div class="panel-body">
                <ul class="nobull">
                    <li>
                    <input type="checkbox" id="id3" />&nbsp;<label for="id3">Singularity (3 hrs ago)</label>
                    </li>
                </ul>
                <br />
                <p class="text-center btn-block">
                    <a href="/buy" class="btn btn-sm btn-default">Buy from seller</a>
                    <a href="/offer" style="color: green" class="btn btn-sm btn-default">Make an offer to buyer</a>
                </p>   
            </div>
        </div>
    </div>

     
</div>

{% endblock %}